footer img{
    height: 60px;
}
footer  a{
    color: #ffffff;
    line-height: 2;
}

footer a:hover{
    text-decoration: none;
    color:red;
}
.bottom-manu{
    display:flex;
    float:right;
}
.footer{
    text-align: center;
}


.copyright-link{
    color: #6c757d;
}
.copyright-link:hover{
    color: red;
}